@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;900&display=swap');

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

.login .form {
    text-align: center;
}

.login .form h1 {
    font-family: 'Poppins', sans-serif;
}

.login .form .form-signin{
    padding: 1em 2em 2em;
    background-color: #FFF;
    margin: 15px;
    min-width: 400px;
    /* min-height: 400px; */
    box-shadow: 0 0 8px #ccc;
}

.login .form  input, .login .form button{
    border-radius: 0 !important;
    margin-top: 1em;
}

.login .form  input{
    border: 1px solid #e6e6e6;
    padding: 1.5em 1em;
}

